.gallery-container
  .card
    img(src='assets/img/galaxy.png')

    p This is one line of text

    .card-detail
      include svg/heart

      span 4,678

  .card
    img(src='assets/img/moon.png')

    p This is one line of text

    .card-detail
      include svg/heart

      span 4,678

  .card
    img(src='assets/img/night.png')

    p This is one line of text

    .card-detail
      include svg/heart

      span 4,678

  .card
    img(src='assets/img/bridge.png')
    p This is two lines of text that overflow

    .card-detail
      include svg/heart

      span 4,678

  .card
    img(src='assets/img/city.png')
    p This is one line of text

    .card-detail
      include svg/heart

      span 4,678

  .card
    img(src='assets/img/space.png')
    p This is one line of text

    .card-detail
      include svg/heart

      span 4,678

  .card
    img(src='assets/img/launch.png')
    p This is one line of text

    .card-detail
      include svg/heart

      span 4,678
