.gallery-container
  width: 100%
  margin-top: 2rem

.card
  vertical-align: top
  display: block
  border-radius: 3px
  max-width: 370px
  margin-bottom: 1.5rem
  background-color: $white
  font-family: $font-main
  color: $copy

  img
    max-width: 100%

  p
    height: 3rem
    text-align: left
    max-width: 11rem
    margin-top: 1.25rem
    padding-bottom: 1.25rem
    margin-left: 0.25rem
    display: inline-block

  svg
    border-left: 1px solid $medium-gray
    margin-top: -0.25rem
    height: 1.75rem
    width: 2.25rem
    display: inline-block

  span
    color: $medium-gray
    display: inline-block
    vertical-align: top

.card-detail
  float: right
  margin-top: 1.25rem
  margin-right: 0.25rem
  margin-left: 0rem
  display: inline-block

@media screen and (min-width: $break-small)
  .gallery-container
    text-align: center

  .card
    display: inline-block
    margin-left: 0.75rem
    margin-right: 0.75rem

    p
      max-width: 11rem
      margin-top: 1.5rem
      padding-bottom: 1.5rem
      margin-left: 1.5rem

    svg
      width: 3.25rem

  .card-detail
    margin-top: 1.5rem
    margin-right: 1.5rem
